VITE_SUPABASE_URL=https://sqyvsuklwggcftqhvskv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxeXZzdWtsd2dnY2Z0cWh2c2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxNjUxMjMsImV4cCI6MjA5MTc0MTEyM30.9LX-HtFPTTWcOTAPySvMjr_SzD5aFTRmdqbJTq_uMDk
VITE_API_URL=http://localhost:3001/api
