PORT=3001
SUPABASE_URL=https://sqyvsuklwggcftqhvskv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxeXZzdWtsd2dnY2Z0cWh2c2t2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjE2NTEyMywiZXhwIjoyMDkxNzQxMTIzfQ.SrGZwyMQJ_oO0DuUEq6WVHxorMJBHP02Wr5WynAMoY0
WEB_URL=http://localhost:5173
